<nav class="overflow-hidden">
  <div class="flex items-center justify-between px-8 py-5 bg-gray-900">
    <div class="w-auto">
      <div class="flex flex-wrap items-center">
        <div class="w-auto mr-14 text-white">
          <a href="#"><h1>Wordly.Domains</h1></a>
        </div>
      </div>
    </div>
    <section *ngIf="session" class="w-auto" id="authenticated-nav-items">
      <div class="flex flex-wrap items-center">
        <div class="w-auto hidden lg:block">
          <ul class="flex items-center mr-10">
            <li
              class="font-heading mr-9 text-white hover:text-gray-200 text-lg"
            >
              <a href="#">Search</a>
            </li>
            <li
              class="font-heading mr-9 text-white hover:text-gray-200 text-lg"
            >
              <a href="#">User Preferences</a>
            </li>
          </ul>
        </div>
        <div class="w-auto hidden lg:block">
          <button
            class="group relative p-0.5 font-heading block w-full md:w-auto text-lg text-white font-medium bg-gradient-cyan overflow-hidden rounded-10"
            (click)="signOut()"
          >
            <div
              class="absolute top-0 left-0 transform -translate-y-full group-hover:-translate-y-0 h-full w-full bg-gradient-cyan transition ease-in-out duration-500"
            ></div>
            <div class="py-2 px-5 bg-gray-900 rounded-lg">
              <p class="relative z-10">Logout</p>
            </div>
          </button>
        </div>
        <div class="w-auto lg:hidden">
          <a href="#">
            <svg
              class="navbar-burger text-gray-800"
              width="51"
              height="51"
              viewBox="0 0 56 56"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="56" height="56" rx="28" fill="currentColor"></rect>
              <path
                d="M37 32H19M37 24H19"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </section>
  </div>
</nav>
