<div class="form-widget">
  <form [formGroup]="wordPreferencesForm">
    <label for="email">Email</label>
    <input id="email" type="text" [value]="session?.user?.email" disabled />
    <label for="wordPreferences">Word Preferences (comma separated list)</label>
    <input id="wordPreferences" type="text" formControlName="wordPreferences" />
  </form>
  <div></div>

  <div>
    <button
      class="button primary block"
      (click)="this.onSubmit()"
      [disabled]="loading"
    >
      {{ loading ? 'Loading ...' : 'Update' }}
    </button>
  </div>

  <div>
    <button class="button block" (click)="signOut()">Sign Out</button>
  </div>
</div>
