---
---

<footer class="wrapper">
  <span>
    <a href="/rss.xml">RSS Feed</a>
  </span>
  <span
    >Built with <a href="https://astro.build"
      ><img
        src="/astro-full-logo.png"
        style="height: 3rem; display: inline-block;"
      /></a
    ></span
  >
</footer>

<style>
  span {
    margin: 0 1rem;
  }
</style>
